<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <div class="avatar">
        <img src="assets/R.png" alt="User Avatar" />
      </div>
    </ion-buttons>
    <ion-title>Food for You</ion-title>
    <ion-buttons slot="end">
      <!-- Show Login/Signup buttons if no role is present -->
      <ion-button *ngIf="!role" routerLink="/login" color="tertiary">Login</ion-button>
      <ion-button *ngIf="!role" routerLink="/signup" color="tertiary">Signup</ion-button>
      <!-- Show Logout button if a role is present -->
      <ion-button *ngIf="role" (click)="logout()" color="danger">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome Back, Chef!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Manage your food items and view recent posts below.</p>
      <ion-button expand="block" (click)="navigateToAddFood()">Add New Food</ion-button>
    </ion-card-content>
  </ion-card>

  <h2 class="section-title">Your Latest Food Posts</h2>
  <div class="card-grid">
    <ng-container *ngIf="chefFoodItems$ | async as foods; else noFood">
      <ion-card *ngFor="let food of foods" (click)="onEdit(food)">
        <ion-img [src]="food.imageUrl || 'assets/default-food.jpg'"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ food.name }}</ion-card-title>
          <!-- Delete button as an 'X' icon -->
          
        </ion-card-header>
        <ion-card-content>
          <p>{{ food.description }}</p>
          <p>{{ food.price | currency }}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-template #noFood>
      <p>No food items available.</p>
    </ng-template>
  </div>
</ion-content>
