<ion-header>
  <ion-toolbar color="danger">
    <ion-button slot="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="search-chef"></ion-back-button>
    </ion-button>
    <ion-title>orders</ion-title>
    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
    <ion-icon name="cart" slot="end"></ion-icon>
    <ion-badge id="notifications-badge" color="danger">5</ion-badge>
    <img slot="end" src="../../assets/001.jpeg">
  </ion-toolbar>
</ion-header>

<ion-content> 

</ion-content>

