<ion-header>
  <ion-toolbar color="danger">
    <ion-button slot="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="search-chef"></ion-back-button>
    </ion-button>
    <ion-title>Informations du Repas</ion-title>
    <img slot="end" src="../../assets/001.jpeg">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #repasForm="ngForm" (ngSubmit)="onSubmit(repasForm)">
    
    <ion-item>
      <ion-label position="floating">Nom du repas</ion-label>
      <ion-input name="nom" type="text" required ngModel></ion-input> <!-- Assurez-vous que ce champ est présent -->
    </ion-item>
    
    <!-- Compétences culinaires -->
    <ion-item>
      <ion-label position="floating">Compétences culinaires</ion-label>
      <ion-select name="skills" multiple="true" required [(ngModel)]="selectedSkills" (ionChange)="onSkillChange()">
        <ion-select-option value="cuisine_americaine">Cuisine Américaine</ion-select-option>
        <ion-select-option value="cuisine_asie">Cuisine Asiatique</ion-select-option>
        <ion-select-option value="cuisine_europeenne">Cuisine Européenne</ion-select-option>
        <ion-select-option value="cuisine_africaine">Cuisine Africaine</ion-select-option>
        <ion-select-option value="autre">Autre</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Champ pour entrer une autre compétence -->
    <ion-item *ngIf="showOtherInput">
      <ion-label position="floating">Autre compétence</ion-label>
      <ion-input type="text" [(ngModel)]="otherSkill"name="otherSkill"></ion-input>
    </ion-item>

    <!-- Types de plats proposés -->
    <ion-item>
      <ion-label position="floating">Types de plats proposés</ion-label>
      <ion-select name="typesFood" multiple="true" required ngModel>
        <ion-select-option value="entree">Entrée</ion-select-option>
        <ion-select-option value="plat_principal">Plat Principal</ion-select-option>
        <ion-select-option value="dessert">Dessert</ion-select-option>
        <ion-select-option value="boissons">Boissons</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Localisation -->
    <ion-item>
      <ion-label position="floating">Localisation</ion-label>
      <ion-input name="localisation" type="text" required ngModel></ion-input>
    </ion-item>

    <!-- Intervalle de prix -->
    <ion-item>
      <ion-label position="floating">Intervalle de prix</ion-label>
      <ion-range dualKnobs="true" name="prix" min="5" max="100" [(ngModel)]="prix">
        <ion-label slot="start">$5</ion-label>
        <ion-label slot="end">$100</ion-label>
      </ion-range>
    </ion-item>

    <!-- Photo -->
    <ion-item>
      <ion-label position="floating">Photo</ion-label>
      <input type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;" #fileInput />
      <ion-button (click)="fileInput.click()">Choisir un fichier</ion-button>
    </ion-item>

    <!-- Bouton de soumission -->
    <ion-button expand="full" type="submit" color="primary" [disabled]="!repasForm.form.valid">Enregistrer</ion-button>
  </form>
</ion-content>
