/* Neutral header toolbar styling */
ion-toolbar {
  --background: #f8f9fa; /* Light gray background */
  --color: #333; /* Dark text */
  font-weight: bold;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

/* Avatar styling */
.avatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Banner with a subtle gradient */
.banner {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    color: white;
    border-radius: 12px;
    margin-bottom: 16px;
  }
  .quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  
    .quantity-button {
      font-size: 24px; // Taille de police pour les boutons
      color: #007aff; // Couleur de votre choix
    }
  
    .quantity {
      font-size: 20px; // Taille de police pour le nombre
      margin: 0 10px;
    }
  }
  
  ion-button {
    display: flex;
    align-items: center;
  
    ion-icon {
      margin-right: 5px; // Espace entre l'icône et le texte
    }
  }
  .validate-icon {
    font-size: 28px; // Taille de l'icône
    color: #007aff; // Couleur de l'icône
    margin-top: 10px; // Espacement au-dessus de l'icône
    cursor: pointer; // Change le curseur pour indiquer que c'est cliquable
    text-align: center; // Centrer l'icône
  }
    
  .filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 16px;
  }

  ion-toolbar{

    background: #000;

  }
  
  .section-title {
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
  
  .food-card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .food-card:hover {
    transform: scale(1.05);
  }
  
  .price {
    font-weight: bold;
    color: #ff5722;
    margin-top: 8px;
  }
  
  ion-content {
    --background: #36373b;
  }