      <ion-header>
        <ion-toolbar color="danger">
          <ion-button slot="start" class="menu_btn">
            <ion-back-button color="light" defaultHref="search-chef"></ion-back-button>
          </ion-button>
          <ion-title>Les repas disponibles</ion-title>
          <ion-icon name="notifications" slot="end"></ion-icon>
          <ion-icon name="add" slot="end" (click)="goToAddPage()"></ion-icon>
          <img slot="end" src="../../assets/001.jpeg">
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div *ngFor="let repas of repasList">
          <div class="upperBox">
            <div class="image">
              <img [src]="repas.photoUrl" alt="{{ repas.nom }}">
            </div>
            <div class="title">
              <h3>{{ repas.nom }}</h3>
            </div>
            <div class="menu">
              <h3>
                <ion-icon name="close" (click)="deleteRepas(repas.id)"></ion-icon>
                <!-- Ajoutez cette ligne pour visualiser l'objet -->
                              </h3>
              
            </div>
            <div class="orderId">
              <p>Order ID: #{{repas.id}}</p>
            </div>
            <div class="amount">
              <h3>${{ repas.prix.lower }}---{{ repas.prix.upper }}</h3>
            
              <!-- Utilisation du champ prix -->
            </div>
            <div class="status">
              <p>{{ repas.skills }}</p> <!-- Utilisation du champ status -->
            </div>
            <div class="time">
              <p> {{ repas.typesFood}} </p> <!-- Utilisation du champ tempsEstime -->
            </div>
            <div class="edit">
              <button class="btn" (click)="updateRepas(repas)">
                Update
              </button>
            </div> 
          </div>
        </div>
      </ion-content>
