<ion-header>
  <ion-toolbar color="danger">
    <ion-button slot="start" class="menu_btn">
      <ion-back-button color="light" defaultHref="search-chef"></ion-back-button>
    </ion-button>
    <ion-title>order</ion-title>
    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
    <ion-icon name="cart" slot="end"></ion-icon>
    <ion-badge id="notifications-badge" color="danger">5</ion-badge>
    <img slot="end" src="../../assets/001.jpeg">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <ion-segment value="orders">
      <ion-segment-button value="upcoming" (ionChange)="segmentChange($event)">
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button value="past">
        <ion-label>Past Orders</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngFor="let order of orders">
    <p id="date">{{ order.date }}</p>
    <div class="upperBox" *ngFor="let singleOrder of order.order">
      <div class="image">
        <img src="../../assets/food/{{singleOrder.image}}">
      </div>
      <div class="title">
        <h3>{{ singleOrder.title }}</h3>
      </div>
      <div class="menu">
        <h3>
          <ion-icon name="ellipsis-vertical-outline" (click)="presentPopover($event)"></ion-icon>
        </h3>
      </div>
      <div class="orderId">
        <p>Order ID: #{{ singleOrder.transId }}</p>
      </div>
      <div class="amount">
        <h3>${{ singleOrder.amount }}</h3>
      </div>
      <div class="status">
        <p [ngStyle]="{
              'color': (singleOrder.status === 'CONFIRM') ? 'green' : 'red',
              'background': (singleOrder.status === 'CONFIRM') ? '#e4f4eb' : '#f7d0c7'
            }">
          {{ singleOrder.status }}
        </p>
      </div>
      <div class="time">
        <p>Est.time : {{singleOrder.time}}</p>
      </div>
     <div class="edit">
        <button class="btn" type="submit">
          Reorder
        </button>
     </div> 
    </div>
  </div>
</ion-content>
